.weapon-search {
  position: relative;
  height: 100%;
  margin-top: 3rem;
}

.weapon-tiles {
  display: flex;
  flex-flow: column;
  padding: 0.5rem;
}

.searched-weapon-grid {
  display: flex;
  justify-content: center;
  width: 100%;
}

.searched-weapon {
  display: grid;
  grid-template-columns: repeat(auto-fill, 165px);
  grid-auto-rows: 225px;
  justify-content: center;
}

.unfiltered-characters {
  display: grid;
  grid-template-columns: repeat(auto-fill, 165px);
  grid-auto-rows: 225px;
  justify-content: center;
}

.weapon-searchbar {
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 1rem 1rem 2rem 1rem;

  input {
    max-width: 35rem;
  }
}
