.weapon-page {
  display: flex;
  
  .weapon-characters {
    flex: 3
  }

  .weapon-detail {
    flex: 2;
    
    .weapon-info {
      display: flex;
      flex-flow: column;

      .weapon-profile {
        display: flex;
      }
    }
  }
}