.artifact-set-info {
  color: #e9e5dc;
  border-radius: 8px;
  margin: 0.1rem 0 1rem 0;
  overflow: hidden;
  background-color: rgba(39, 42, 56, 0.7);
  padding: 0.5rem 0.5rem 0 0.5rem;
  display: flex;
  flex-flow: column;

  .artifact-set-header {
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 6px;
  }

  .artifact-set-detail {
    display: flex;
    width: 100%;
    flex-flow: column;
    padding: 1rem;
    justify-content: center;

    .artifact-set-name {
      padding: 0 0.1rem;
      color: white;
      font-size: 1.5rem;
      text-decoration: none;
    }
  }

  .artifact-set-effects {
    font-size: 1rem;
    border-spacing: 0.5rem;
    display: inline-block;

    td {
      vertical-align: top;

      &:nth-child(odd) {
        min-width: 5.6rem;
      }
    }
  }
}

@media (max-width: 1036px) {
  .artifact-set-info {
    .artifact-set-effects {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 640px) {
  .artifact-set-info {
    .artifact-set-detail {
      .artifact-set-name {
        font-size: 1.3rem;
      }
    }

    .artifact-set-effects {
      font-size: 0.6rem;
    }

    table,
    table td,
    table tr,
    table th {
      display: block;
      text-align: left;
    }

    table th,
    table td {
      margin: 0;
      padding-left: 25px;
    }

    table td {
      padding-left: 0;

      &:nth-child(odd) {
        border-bottom: 2px solid rgba(255, 255, 255, 0.3);
        font-size: 1.3rem;
      }

      &:nth-child(even) {
        margin-bottom: 1.2rem;
      }
    }
  }
}
