.builds-carousel {
  display: flex;
  flex-flow: row;
  padding: 2rem;
}

.character-builds-container {
  flex: 1;
}

.weapon-container {
  display: flex;
  align-items: middle;
}

.weapon-card {
  width: 330px;
  margin: 0.1rem 0 0.1rem 0;
  overflow: hidden;
  background-color: #e9e5dc;
  padding: 0.3rem;
  display: flex;

  img {
    width: 120px;
    height: 120px;
  }

  .weapon-detail {
    display: flex;
    width: 100%;
    flex-flow: column;
    text-align: center;

    .weapon-name {
      padding: 0.2rem 0.2rem 0.1rem 0.2rem;
      color: rgb(73, 83, 102);
      font-size: 1.3rem;
      text-decoration: none;
      height: 70%;
    }

    .weapon-popularity {
      line-height: 30%;
      color: white;
      font-size: 3rem;
      text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    }
  }
}

.character-builds-selector {
  flex: 0 auto;
}

.artifact-sets-container {
  display: flex;
  width: 200px;
  transition: transform 0.2s;

  .artifact-card {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    margin: 0.1rem;

    .artifact-set-activation {
      color: white;
      font-size: 1.5rem;
      font-weight: 700;
      position: absolute;
      bottom: 0;
      right: 0;
      text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
      padding: 0.3rem;
    }
  }

  img {
    width: 100px;
    height: 100px;
  }

  &:hover {
    transform: scale(1.03);
    border: 3px solid #e9e5dc;
    border-radius: 8px;
  }
}
