.builds-carousel {
  display: flex;
  flex-flow: row;
  padding: 2rem;
}

.character-builds-container {
  flex: 1;
}

.weapon-container {
  display: flex;
  align-items: middle;

  .weapon-count {
    line-height: 200px;
    color: white;
    font-size: 4rem;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  }
}

.weapon-card {
  width: 200px;
  text-align: center;
  border-radius: 8px;
  margin: 1rem;
  overflow: hidden;

  img {
    width: 120px;
    height: 130px;
  }

  &.large {
    width: 230px;

    img {
      width: 150px;
      height: 150px;
    }
  }

  .weapon-name {
    padding: 0.2rem 0.2rem 0.1rem 0.2rem;
    color: rgb(73, 83, 102);
    background-color: #e9e5dc;
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
  }
}

.character-builds-selector {
  flex: 0 auto;
}

.artifact-sets-container {
  display: flex;
  width: 200px;
  transition: transform 0.2s;

  .artifact-card {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    margin: 0.1rem;

    .artifact-set-activation {
      color: white;
      font-size: 1.5rem;
      font-weight: 700;
      position: absolute;
      bottom: 0;
      right: 0;
      text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
      padding: 0.3rem;
    }
  }

  img {
    width: 100px;
    height: 100px;
  }

  &:hover {
    transform: scale(1.03);
    border: 3px solid #e9e5dc;
    border-radius: 8px;
  }
}
