.builds-selector {
  display: flex;
  flex-flow: row;
  padding: 1rem 0.5rem 2rem 2rem;
  margin-top: 2rem;
  background-color: rgba(0,0,0,0.15);
  border-radius: 10px;

  h1 {
    color: white;
    width: 300px;
    border-bottom: solid 1px grey;
  }
}

.weapons-list-container {
  flex: 3;
}

.artifact-build-container {
  display: flex;
  flex: 2;

  .artifact-build-stats {
    display: flex;
    flex-flow: column;
    margin-right: 1rem;
    width: 100%;

    .artifact-build {
      min-height: 480px;
    }

    .artifacts-donut-chart {
      position: relative;
      display: flex;
      justify-content: center;
      margin: 2rem auto;
      max-width: 350px;

      canvas {
        z-index: 1;
      }

      .artifact-popularity {
        position: absolute;
        text-align: center;
        z-index: 0;
        top: calc(50% - 1.5rem);
        width: 100%;
        color: white;
        font-size: 3rem;
        text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
      }
    }
  }
}

.weapons-list {
  margin-right: 1rem;
}

.character-builds-selector {
  margin-top: 5.9rem;
  margin-right: 1rem;
  width: 10rem;

  .artifact-thumb {
    overflow: hidden;
  }
}

.weapon-container {
  position: relative;
  display: flex;

  .weapon-bar-chart {
    flex: 1;
    margin: 0.1rem 0;

    .weapon-bar {
      height: 100%;
      display: inline-block;
      animation-name: horibar;
      animation-duration: 1s;
      animation-direction: forwards;
      border: 2px solid rgba(255, 255, 255, 0.7);
    }

    @keyframes horibar {
      0% {
        max-width: 0;
      }
      100% {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 516px) {
  .character-builds-selector {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;

    margin-top: 3rem;
  }

  .builds-selector {
    flex-flow: column-reverse;
  }

  .artifact-popularity {
    font-size: 2rem;
  }

  .artifact-build-container {
    height: 100%;
    max-height: 100%;
    flex-wrap: wrap-reverse;
  }

  .weapons-list {
    display: flex;
    flex-flow: column;
    align-items: center;

    .weapon-bar-chart {
      display: none;
    }
  }
}

@media (max-width: 836px) {
  .builds-selector {
    flex-flow: column-reverse;
  }

  h1 {
    width: 100%;
    margin-top: 2rem;
  }
}

@media (max-width: 1280px) {
  .artifact-build {
  }
}
