.builds-selector {
  display: flex;
  flex-flow: row;
  padding: 1rem 0.5rem 2rem 2rem;
}

h1 {
  color: white;
  width: 300px;
  border-bottom: solid 1px grey;
}

.weapons-list-container {
  flex: 3;
}

.artifact-build-container {
  display: flex;
  height: calc(100vh - 12rem);
  flex: 2;

  .artifact-build {
    width: 100%;
  }

  .artifact-build-stats {
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;

    .artifact-build {
      flex: 1;
    }

    .artifacts-donut-chart {
      position: relative;
      height: auto;

      .artifact-popularity {
        position: absolute;
        z-index: -1;
        top: calc(50% - 1.5rem);
        width: 100%;
        text-align: center;
        color: white;
        font-size: 3rem;
        text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
      }
    }
  }
}

.weapons-list {
  margin-right: 1rem;
}

.character-builds-selector {
  margin-top: 4.5rem;
  width: 10rem;
}

.weapon-container {
  display: flex;

  .weapon-bar-chart {
    flex: 1;
    margin: 0.1rem 0;

    .weapon-bar {
      height: 100%;
      display: inline-block;
      animation-name: horibar;
      animation-duration: 1s;
      animation-direction: forwards;
      border: 2px solid rgba(255, 255, 255, 0.7);
    }

    @keyframes horibar {
      0% {
        max-width: 0;
      }
      100% {
        max-width: 100%;
      }
    }
  }
}

.bar-chart-bar {
  position: relative;

  &:hover {
    .tooltip {
      opacity: 1;
    }
  }
}

@media (max-width: 516px) {
  .builds-selector {
    flex-flow: column-reverse;
  }

  .artifact-popularity {
    font-size: 2rem;
  }

  .artifact-build-container {
    height: 100%;
    max-height: 100%;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .weapons-list {
    display: flex;
    flex-flow: column;
    align-items: center;

    .weapon-bar-chart {
      display: none;
    }
  }
}

@media (max-width: 836px) {
  .builds-selector {
    flex-flow: column-reverse;
  }

  h1 {
    text-align: center;
    width: 100%;
    margin-top: 2rem;
  }
}

@media (max-width: 1280px) {
  .artifact-build {
    height: 100% !important;
  }
}
