.abyss-container {
  padding: 1rem;
  min-height: 28rem;
  border-radius: 10px;

  .abyss-disclaimer {
    color: #e9e5dc;
    padding: 1rem;
    width: 100%;
    text-align: center;
  }

  h1 {
    margin: 2rem auto 1rem auto;
  }

  .dropdown {
    margin-left: 0.5rem;
  }
}

.floor-container {
  display: flex;
  flex-flow: column;
  align-items: center;

  }

  .stage-container {
    display: grid;
    width: 100%;

    .stage-label {
      width: 100%;
      text-align: center;
      color: white;
      font-size: 2.5rem;
      padding: 1rem;
      background: rgba(0, 0, 0, 0.3);
      margin-bottom: 1rem;
    }

    .stage-half {
      display: flex;
      flex-flow: column;
      justify-content: center;
      flex-wrap: wrap;
      color: white;
      text-align: center;

      h2 {
        color: white;
        width: 100%;
      }

      .emote-empty {
        width: 160px;
      }
    }
  }

  .battle-container {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}

.floors-chart-container {
  max-width: 65rem;
  margin: 0 auto;

  .floors-chart {
    margin: 2rem;
    background: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 8px;
  }
}

@media (max-width: 887px) {
  h2 {
    font-size: 1.2rem;
  }
}