.party-selector {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 1rem;

  .character-slots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .character-slot {
      max-width: 135px;
      position: relative;
      text-align: center;
      border: solid 2px rgba(255, 255, 255, 0.4);
      background: rgba(255,255,255,0.05);
      margin: 0.3rem;
      overflow: hidden;
      border-radius: 10px;

      .plus-icon svg {
        position: absolute;
        width: 22px;
        height: auto;
        left: calc(50% - 12px);
        top: calc(50% - 12px);
      }
      
      .close-icon svg {
        position: absolute;
        top: 0.1rem;
        right: 0.1rem;
        z-index: 2;
      }

      .character-tile-container {
        margin: 0;
      }  
  
      &.asEmpty {
        opacity: 0.8;

        .character-tile-container {
          visibility: hidden;
        }
      }

      &:hover {
        cursor: pointer;
        border: solid 2px rgba(255, 255, 255, 0.6);
        opacity: 1;
      }
    }
  }
}


@media (max-width: 476px) {
  .party-selector {
    .character-slots {
      .character-slot {        
        .close-icon svg {
          width: 14px;
          height: auto;
        }
      }
    }
  }
}

@media (max-width: 714px) {
  .party-selector {
    .character-slots {
      .character-slot {
        position: relative;
      }
    }
  }
}