.party-selector {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  .character-slot {
    height: 160px;
    width: 135px;
    text-align: center;
    line-height: 160px;
    border: solid 2px rgba(255, 255, 255, 0.4);
    margin: 1rem;
    border-radius: 8px;
    opacity: 0.8;

    &:hover {
      cursor: pointer;
      border: solid 2px rgba(255, 255, 255, 0.6);
      opacity: 1;
    }
  }
}
