.party-selector {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 1rem;

  .character-slots {
    display: flex;

    .character-slot {
      position: relative;
      min-height: 139px;
      min-width: 139px;
      text-align: center;
      border: solid 2px rgba(255, 255, 255, 0.4);
      background: rgba(255,255,255,0.05);
      margin: 1rem 0.3rem;
      border-radius: 10px;

      .plus-icon {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .close-icon {
        position: absolute;
        top: 0.1rem;
        right: 0.1rem;
        z-index: 2;
      }

      .character-tile-container {
        margin: 0;
      }  
  
      &.asEmpty {
        opacity: 0.8;
      }

      &:hover {
        cursor: pointer;
        border: solid 2px rgba(255, 255, 255, 0.6);
        opacity: 1;
      }
    }
  }
}
