.logo-container {
  display: flex;
  align-items: center;
  flex-flow: column;

  img {
    width: 140px;
  }

  .players-total {
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
  }
}

.character-search {
  width: 35rem;
  margin: 0 auto;
}

.character-tiles {
  display: flex;
  flex-flow: column;
  padding: 0.5rem;
}

.searched-characters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 175px;
  margin-right: -1rem;

  .character-tile {
    margin-right: 1rem;
  }
}

.unfiltered-characters {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(135px + 1rem));
  grid-auto-rows: 190px;
  justify-content: center;
  margin-top: 2rem;
  margin-right: -1rem;
}

.character-searchbar {
  margin-top: 1rem;

  input {
    max-width: 35rem;
  }
}


@media (max-width: 516px) {
  .unfiltered-characters {
    display: none;
  }
}

@media (max-width: 714px) {
  .character-search{
    width: 100%;
  }

  .unfiltered-characters {
    grid-template-columns: repeat(auto-fill, calc(100px + 1rem));
    grid-auto-rows: 145px;
  }

  .searched-characters {
    min-height: 145px;
  }

  .character-tile-container:not(:last-child) {
    margin-bottom: 1rem;
  }

  .character-searchbar {
    width: 100%;
    
    input {
      max-width: 100%;
    }
  }
}