.character-tile-container {
}

.character-tile {
  position: relative;
  background-color: white;
  overflow: hidden;
  transition: transform 0.2s;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  .element-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
  }

  &.asClickable {
    &:hover,
    &:active {
      cursor: pointer;
      -moz-box-shadow: inset 0 0 5px #f2eee6;
      -webkit-box-shadow: inset 0 0 5px #f2eee6;
    }
  
    a {
      &:hover,
      &:active {
        -webkit-transform: scale(1.08, 1.08);
        transform: scale(1.08, 1.08);
        -moz-box-shadow: inset 0 0 5px #f2eee6;
        -webkit-box-shadow: inset 0 0 5px #f2eee6;
        box-shadow: inset 0 0 5px #f2eee6;
        border: 3px solid #f2eee6;
      }
    }
  }

  .character-portrait {
    vertical-align: middle;
    width: 100%;
  }

  .character-tile-name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    color: rgb(73, 83, 102);
    background-color: #e9e5dc;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.1rem;
    text-decoration: none;
  }
}

@media (max-width: 676px) {
  .character-tile-container {
    .character-tile-name {
      font-size: 0.9rem;
      line-height: 0.8rem;
      height: 2rem;
    }
  }
}

@media (max-width: 747px) {
  .character-tile-container {
    .character-tile {
      .element-icon {
        width: 30px;
        height: auto;
      }

      .character-tile-name {
        font-size: 0.9rem;
        line-height: 0.8rem;
        height: 2rem;
      }
    }
  }
}

@media (max-width: 544px) {
  .character-tile-container {
    .character-tile {
      .element-icon {
        width: 20px;
        height: auto;
      }

      .character-tile-name {
        font-size: 0.8rem;
        line-height: 0.7rem;
        height: 2rem;
      }
    }
  }
}
