.team-container {
  margin: 0.6rem 0;
  max-width: 40rem;
  border: solid 5px #20222D;
  border-radius: 8px;
}

.team-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1.4fr;
  background-color: #20222D;

  .character-tile-container {
    overflow: hidden;

    &:first-of-type {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }

  &.asExpandable {
    &:hover {
      cursor: pointer;
    }
  }
}

.team-characters {
  .character-tile-container {
    height: auto;
    margin: 0;

    .character-tile {
      margin: 0;
    }
  }
}

.team-flex-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-flow: column;
  background-color: #20222D;

  .team-flex {
    position: relative;
    left: 35%;
    display: flex;
    padding-top: 0.3rem;

    div > div > img,
    svg {
      height: 50px;
    }

    svg {
      margin: 0 0.5rem;
    }
  }

  .team-expand {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 0.3rem;
    background-color: #20222D;

    &:hover {
      cursor: pointer;
    }
  }
}

.team-popularity {
  position: relative;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 2fr;

  .team-abyss-stats-container {
    display: flex;
    color: white;
    justify-content: space-evenly;

    .team-abyss-stats {
      display: flex;
      flex-flow: column;
      height: 100%;
      font-size: 1.8vw;
    }
  }

  .team-popularity-pct {
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.6vw;
  }

  .team-popularity-count {
    margin: 0.2rem;
    color: white;
    text-shadow: none;
    font-size: 2.4vw;
    white-space: nowrap;
  }
}

@media (min-width: 647px) {
  .team-popularity {
    .team-abyss-stats-container {
      .team-abyss-stats {
        font-size: 0.8rem;
      }
    }

    .team-popularity-pct {
      font-size: 2.1rem;
    }

    .team-popularity-count {
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 544px) {
  .team-container {
    margin: 0.3rem 0;
  }

  .team-popularity {
    .team-popularity-pct {
      text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    }
  }

  .team-flex-container {
    .team-flex {
      padding-top: 0.2rem;

      div > div > img,
      svg {
        height: 30px;
      }

      svg {
        margin: 0 0.2rem;
      }
    }

    .team-expand {
      height: 8px;
      > svg {
        height: 7px;
      }
    }
  }
}

// @media (max-width: 544px) {
//   .team-container {
//     margin: 0.5rem 0;
//   }

//   .team-popularity {
//     width: calc(68px - 1rem);

//     .team-popularity-pct {
//       margin: 0;
//       line-height: 1.5rem;
//       font-size: 1rem;
//     }

//     .team-popularity-count {
//       font-size: 0.7rem;
//     }
//   }
// }
