.team-container {
  margin: 0.6rem 0;
  max-width: 40rem;
}

.team-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.8fr 0.8fr;
  background-color: #e9e5dc;
  border-radius: 8px;
  overflow: hidden;

  &.asExpandable {
    border-radius: 8px 8px 0 0;

    &:hover {
      cursor: pointer;
    }
  }
}

.team-characters {
  .character-tile-container {
    height: auto;
    margin: 0;

    .character-tile {
      margin: 0;
      border-radius: 0;
    }
  }
}

.team-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 0 8px 8px;

  .team-flex {
    display: flex;
    padding: 0.5rem;

    div > div > img,
    svg {
      height: 50px;
    }

    svg {
      margin: 0 0.5rem;
    }
  }

  .team-expand {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 0.3rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0 0 8px 8px;

    &:hover {
      cursor: pointer;
    }
  }
}

.team-abyss-stats {
  color: rgb(73, 83, 102);
  margin: 0.3rem 0.3rem 0 0;
  text-align: center;
  display: flex;
  flex-flow: column;
  font-size: 2vw;
  justify-content: center;
}

.team-abyss-stat-title {
  text-transform: uppercase;
  color: rgb(73, 83, 102);
  text-align: center;
  font-size: 1.4vw;
}

.team-popularity {
  position: relative;
  text-align: center;
  background-color: #e9e5dc;
  display: flex;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;

  .team-popularity-pct {
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    width: 11vw;
    font-size: 4.4vw;
  }

  .team-popularity-count {
    margin: 0.2rem;
    color: rgba(73, 83, 102, 0.9);
    text-shadow: none;
    font-size: 2.4vw;
    white-space: nowrap;
  }
}

@media (max-width: 747px) {
}

@media (min-width: 647px) {
  .team-popularity {
    .team-popularity-pct {
      font-size: 2.1rem;
      width: 90px;
    }

    .team-popularity-count {
      font-size: 1.4rem;
    }
  }

  .team-abyss-stats {
    font-size: 0.9rem;
  }

  .team-abyss-stat-title {
    font-size: 0.6rem;
  }
}

@media (max-width: 544px) {
  .team-container {
    margin: 0.3rem 0;
  }

  .team-popularity {
    .team-popularity-pct {
      text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    }
  }

  .team-flex-container {
    .team-flex {
      padding: 0.3rem;

      div > div > img,
      svg {
        height: 30px;
      }

      svg {
        margin: 0 0.2rem;
      }
    }

    .team-expand {
      padding: 0.2rem;

      > svg {
        height: 10px;
      }
    }
  }
}

// @media (max-width: 544px) {
//   .team-container {
//     margin: 0.5rem 0;
//   }

//   .team-popularity {
//     width: calc(68px - 1rem);

//     .team-popularity-pct {
//       margin: 0;
//       line-height: 1.5rem;
//       font-size: 1rem;
//     }

//     .team-popularity-count {
//       font-size: 0.7rem;
//     }
//   }
// }
