.search-select {
  .search-placeholder {
    position: relative;
    display: flex;
    align-items: center;

    .search-icon {
      position: absolute;
      right: 1.2rem;
      opacity: 0.8;
    }
  }

  & > div > div > div > div > div {
    padding: 0;
  }
}

.item-option {
  display: flex;
  align-items: center;
  position: relative;

  .item-option-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
  }

  .item-option-image {
    border-radius: 3px 0 0 3px;
    padding: 0.2rem 0.2rem 0rem 0.2rem;

    .item-option-portrait {
      width: 36px;
    }
  }

  .item-option-label {
    margin-left: 0.5rem;
  }
}

.search-select > div > div > div > div > div > .item-option {
  .item-option-label {
    display: none;
  }
}

@media (max-width: 516px) {
  .search-select {
    .search-placeholder {
      font-size: 1rem;

      .search-icon {
        width: 15px;
      }
    }
  }
}
