.toggle-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  span {
    font-size: 1.4rem;
    color: white;
  }

  .toggle {
    display: flex;
    align-items: center;

    input[type='checkbox'] {
      height: 0;
      width: 0;
      visibility: hidden;
    }

    label {
      cursor: pointer;
      text-indent: -9999px;
      width: 60px;
      height: 30px;
      background: rgba(0,0,0,0.6);
      display: block;
      border-radius: 50px;
      position: relative;
    }

    label:after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      width: 22px;
      height: 22px;
      background: #fff;
      border-radius: 90px;
      transition: 0.3s;
    }

    input:checked + label:after {
      left: calc(100% - 5px);
      transform: translateX(-100%);
    }

    label:active:after {
      width: 50px;
    }
  }
}

@media (max-width: 676px) {
  .toggle-container {
    justify-content: center;

    span {
      font-size: 1.1rem;
    }

    .toggle {
      label {
        width: 50px;
        height: 25px;
      }
  
      label:after {
        top: 4px;
        left: 4px;
        width: 18px;
        height: 18px;
      }
    }
  }
}
