.teams-container {
  margin-top: 2rem;
  padding: 0.5rem 2rem 2rem 2rem;
  background-color: rgba(0, 0, 0, 0.15);

  h1 {
    margin: 2rem auto 1rem auto;
  }

  h2 {
    color: white;
  }
}

.parties-container {
  display: flex;
  flex-flow: column;
  align-items: center;

  .party-container {
    margin: 0.8rem;

    .popularity-line {
      margin: 0.2rem;
      color: dimgray;
      text-shadow: none;
      font-size: 1rem;
    }
  }

  .party-popularity {
    position: relative;
    text-align: center;
    padding: 1rem;
    background-color: #e9e5dc;
    line-height: 30%;
    color: white;
    font-size: 2rem;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    height: 135px;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .party-grid {
    display: flex;
    background-color: #e9e5dc;
    border-radius: 8px;
    overflow: hidden;

    .character-tile-container {
      height: auto;
      margin: 0;

      .character-tile {
        margin: 0;
        border-radius: 0;
      }
    }
  }
}


@media (max-width: 887px) {
  h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 1244px) {
  .party-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
  }
}

@media (max-width: 1018px) {
  .party-container {
    align-items: center;
    margin: 2rem 1rem;

    .party-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .party-popularity {
      grid-column-start: 1;
      grid-column-end: 3;
      padding-top: 0;
      height: 100%;
    }
  }
}
