.character-page {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin-top: 3rem;

  .character-page-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    opacity: 0.5;
  }

  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    width: 300px;
    color: white;
    border-bottom: solid 1px grey;
  }
}

.character-stats-container {
  display: flex;
  justify-content: space-evenly;

  .character-stats-content {
    justify-content: center;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .character-stats {
    display: flex;
    flex-flow: column;
    margin: 0 1rem;
  }

  .character-stats-title {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 4vw;
  }

  .character-stats-abyss {
    display: flex;
    justify-content: center;
  }

  .character-stats-popularity {
    color: white;
    font-size: 7vw;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  }

  .character-stats-pct {
    width: 100%;
    color: white;
    font-size: 7vw;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  }
}

.character-page-stats-count {
  position: absolute;
  left: 12rem;
  right: 0;
  text-align: center;
  padding: 0.5rem;
  height: 3.1rem;

  span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
  }

  div {
    float: right;
  }
}

.character-filters {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 2rem;
}

.logo {
  padding: 1.5rem 0;
  opacity: 0.5;
}

@media (min-width: 647px) {
  .character-stats-container {
    .character-stats-title {
      font-size: 2rem;
    }

    .character-stats-popularity {
      font-size: 3.5rem;
    }

    .character-stats-pct {
      font-size: 3.5rem;
    }
  }
}

@media (max-width: 1024px) {
  .character-page {
    h1 {
      width: 100%;
    }
  }

  .character-page-stats-count {
    left: 3.5rem;
  }
}

@media (max-width: 516px) {
  .character-page {
    h1 {
      width: 100%;
      margin: 2rem auto 1rem auto;
    }
  }

  .character-page-stats-count {
    left: 0;

    span {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }

  .character-stats-container {
    .character-stats {
      margin: 0 0.1rem;

      .character-stats-pct {
      }

      .character-stats-popularity {
      }
    }
  }
}
