.character-page {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin-top: 3rem;

  .character-page-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    opacity: 0.5;
  }

  .character-stats-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .character-stats-content {
      height: 100%;
      display: flex;
      align-items: center;
      height: 200px;
    }

    .character-stats {
      display: flex;
      flex-flow: column;
    }

    .character-stats-title {
      text-align: center;
      color: white;
      text-transform: uppercase;
    }

    .character-stats-chart-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .character-stats-chart {
      position: relative;
      margin: 0 1rem;
    }

    .character-stats-popularity {
      color: white;
      font-size: 4rem;
    }

    .character-stats-pct {
      position: absolute;
      text-align: center;
      z-index: 0;
      bottom: 12%;
      width: 100%;
      color: white;
      font-size: 2.5rem;
      text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    }
  }

  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    width: 300px;
    color: white;
    border-bottom: solid 1px grey;
  }
}

.character-page-stats-count {
  position: absolute;
  left: 12rem;
  right: 0;
  text-align: center;
  padding: 0.5rem;
  height: 3.1rem;

  span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
  }

  div {
    float: right;
  }
}

.character-filters {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 2rem;
}

.logo {
  padding: 1.5rem 0;
  opacity: 0.5;
}

@media (max-width: 1024px) {
  .character-page {
    h1 {
      width: 100%;
    }
  }

  .character-page-stats-count {
    left: 3.5rem;
  }
}

@media (max-width: 516px) {
  .character-page {
    h1 {
      width: 100%;
      margin: 2rem auto 1rem auto;
    }
  }

  .character-page-stats-count {
    left: 0;

    span {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }

  .character-stats-container {
    .character-stats {
      .character-stats-pct {
      }

      .character-stats-popularity {
        height: 5rem;
        margin-bottom: 2rem;
        font-size: 3rem;
      }
    }
  }
}
