.teams-container {
  margin-top: 2rem;
  padding: 0.5rem 2rem 2rem 2rem;
  background-color: rgba(0, 0, 0, 0.15);

  h1 {
    margin: 2rem auto 1rem auto;
  }

  h2 {
    color: white;
  }
}

.parties-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}


@media (max-width: 887px) {
  h2 {
    font-size: 1.2rem;
  }
}