.character-page {
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  .character-page-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    opacity: 0.5;
  }

  h1 {
    text-align: center;
    font-size: 2rem;
    width: 300px;
    color: white;
    border-bottom: solid 1px grey;
  }

  .character-page-stats-count {
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    height: 3.1rem;

    span {
      color: rgba(0, 0, 0, 0.7);
      font-size: 1.5rem;
    }

    div {
      float: right;
    }
  }
}

.character-filters {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 2rem;
}

.logo {
  padding: 1.5rem 0;
  opacity: 0.5;
}

.its-empty {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 516px) {
  .character-page {
    h1 {
      width: 100%;
      margin: 2rem auto 1rem auto;
    }

    .character-page-stats-count {
      span {
        font-size: 1.2rem;
        line-height: 1.8rem;
      }
    }
  }
}

@media (max-width: 1036px) {
  .character-page {
    h1 {
      width: 100%;
    }
  }
}
