.constellations-container {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 2rem 0 1rem 0;

  h1 {
    margin: 0 auto;
  }
}

.constellation-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);

  .constellation-card-icon {
    height: 60px;
    text-align: middle;
    line-height: 60px;
    font-size: 1.3rem;

    img {
      width: 60px;

      &[alt] {
        font-size: 1rem ;
      }
    }
  }

  .constellation-popularity {
    font-size: 1.8rem;
  }

  p {
    margin: 0.5rem;
    white-space: nowrap;
  }
}

@media (max-width: 887px) {
  .constellation-card {
    .constellation-popularity {
      font-size: 1.2rem ;
    }
  
    p {
      font-size: 0.8rem ;
      text-align: center;
    }
  
    .constellation-card-icon {
      height: 30px ;
  
      img {
        width: 30px ;
      }
    }
  }
}

@media (max-width: 1167px) {
  .constellation-card {
    .constellation-popularity {
      font-size: 1.2rem ;
    }
  
    p {
      font-size: 0.8rem ;
      text-align: center;
    }
  
    .constellation-card-icon {
      height: 35px ;
      line-height: 35px ;
      font-size: 0.9rem ;
  
      img {
        width: 35px ;
      }
    }
  }
}

@media (max-width: 1013px) {
  .constellation-card {
    .constellation-popularity {
      font-size: 1rem ;
      padding: 0.2rem 0;
    }
  
    p {
      display: none;
    }
  
    .constellation-card-icon {
      height: 30px ;
      line-height: 30px ;
  
      img {
        width: 30px ;
      }
    }
  }
}

@media (max-width: 747px) {
  .constellations-chart {
    .barchart-container {
      height: 30vh;
    }
  }
  
  .constellation-card {
    .constellation-card-icon {
      line-height: 1.8rem ;
    }
  
    .constellation-popularity {
      display: none ;
    }
  
    p {
      display: none ;
    }
  }
}

@media (max-width: 400px) {
  .constellation-card {
    .constellation-card-icon {
      height: 20px ;
      line-height: 20px ;
  
      img {
        width: 20px ;
      }
    }
  }
}