.weapon-card {
  width: 300px;
  margin: 0.1rem 0 0.1rem 0;
  overflow: hidden;
  background-color: #e9e5dc;
  padding: 0.3rem;
  display: flex;
  border: 2px solid white;
  border-right: 0;

  img {
    width: 100px;
    height: 100px;
  }

  .weapon-detail {
    display: flex;
    width: 100%;
    flex-flow: column;
    text-align: center;

    .weapon-name {
      padding: 0 0.1rem;
      margin-bottom: 0.5rem;
      color: rgb(73, 83, 102);
      font-size: 1.2rem;
      text-decoration: none;
    }

    .weapon-popularity {
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;

      .weapon-popularity-pct {
        color: white;
        font-size: 1.9rem;
        line-height: 2.7rem;
        text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
      }

      .weapon-popularity-count {
        color: rgba(73, 83, 102,0.9);
        font-size: 1.1rem;
      }
    }
  }
}

@media (max-width: 676px) {
  .weapon-card {
    width: 100%;
  }
}