#navbar {
  position: sticky;
  display: flex;
  top: 0;
  width: 100%;
  height: 3.5rem;
  background: #2e3142;
  -webkit-box-shadow: 0 4px 6px -6px black;
  -moz-box-shadow: 0 4px 6px -6px black;
  box-shadow: 0 4px 6px -6px black;
  z-index: 9;

  &.invis {
    background: linear-gradient(180deg, #2e3142 50%, rgba(0, 0, 0, 0) 100%);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .nav-logo {
    line-height: 3rem;
    margin-left: 0.5rem;
    padding: 0.3rem;

    img {
      cursor: pointer;
      vertical-align: middle;
      height: 40px;
      width: 40px;
    }
  }

  .nav-menu {
    position: absolute;
    right: 0;
    line-height: 3.5rem;
    display: flex;
    color: white;
    margin-right: 1rem;

    .nav-tab {
      text-align: center;
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      width: 6rem;
      padding: 0 0.5rem;
    }
  }
}
