.abyss-container {
  background: none;
  padding: 2rem;
}

.party-container {
  display: table;
  margin: 0 auto;
  height: 70vh;
  margin-bottom: 8rem;
}

.party-bar-container {
  display: table-cell;
  height: 100%;
  vertical-align: bottom;
  padding: 0 0.5rem;

  .party-bar {
    animation-name: vertibar;
    animation-duration: 1s;
    animation-direction: forwards;
    border: 2px solid rgba(255, 255, 255, 0.7);
  }

  .character-tile-container {
    pointer-events: none;
    margin: 0;

    .character-tile {
      border: 2px solid rgba(255, 255, 255, 0.7);
      border-top: 0;
      border-radius: 0;
    }

    .party-popularity {
      color: white;
      text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
      padding: 0.3rem;
    }
  }

  @keyframes vertibar {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 100%;
    }
  }
}

.floors-chart-container {
  width: 70%;
  margin: 0 auto;

  .floors-chart {
    margin: 2rem;
    background: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 8px;
  }
}

@media (max-width: 1000px) {
  .floors-chart-container {
    width: 100%;

    .floors-chart {
      margin: 1rem 0;
    }
  }
}
