.abyss-container {
  background: none;
  padding: 2rem;
}

.floor-container {
  .party-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 1rem;
  }

  .party-popularity {
    width: 100%;
    background-color: #e9e5dc;
  }

  .party-characters {
    display: flex;
    background-color: #e9e5dc;

    .character-tile-container {
      height: auto;
      margin: 0;

      .character-tile {
        margin: 0;
        border-radius: 0;
      }
    }
  }
}

.floors-chart-container {
  max-width: 65rem;
  margin: 0 auto;

  .floors-chart {
    margin: 2rem;
    background: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 8px;
  }
}

@media (max-width: 1244px) {
  .party-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;

    .party-bar-container {
      margin-top: 2rem;

      .party-bar {
        height: 0 !important;
      }
    }
  }
}

@media (max-width: 1000px) {
  .floors-chart-container {
    width: 100%;

    .floors-chart {
      margin: 1rem 0;
    }
  }
}
