.character-page {
  width: 100%;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 50% -100%;
  background-attachment: fixed;
}

.character-stats-count {
  width: 100%;
  text-align: center;
  padding: 0.5rem;

  span {
    color: gray;
    font-size: 1.5rem;
  }
}

.logo {
  padding: 1.5rem 0;
  opacity: 0.5;
}
