.logo-container {
  display: flex;
  justify-content: center;
}

.character-search {
  position: relative;
}

.character-tiles {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.searched-character {
  display: flex;
  justify-content: center;
  min-height: 10rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.unfiltered-characters {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  grid-auto-rows: 190px;
  justify-content: center;
}

.character-searchbar {
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
