.character-search {
  position: relative;
  top: 15%;
  overflow-x: hidden;
}

.character-tiles {
  display: flex;
  flex-flow: column;
  padding: 0.5rem;
}

.searched-character {
  display: flex;
  justify-content:center;
  height: 10rem;
  margin-bottom: 3rem;
}

.unfiltered {
  display: flex;
  justify-content: center;
}

.unfiltered-characters {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
}

.character-searchbar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}