.character-page {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.character-stats-count {
  width: 100%;
  text-align: center;
  padding: 0.5rem;

  span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
  }
}

.logo {
  padding: 1.5rem 0;
  opacity: 0.5;
}
