.character-tile-container {
  height: 190px;
  width: 160px;
}

.character-tile {
  position: relative;
  width: 135px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;

  .element-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    border: 3px solid #e9e5dc;
  }

  img {
    width: 135px;
    height: 135px;
    vertical-align: middle;
  }

  .character-tile-name {
    position: relative;
    padding: 0.2rem;
    color: rgb(73, 83, 102);
    background-color: #e9e5dc;
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 30px;
      height: 40px;
      width: 40px;
      border-bottom-right-radius: 50%;
      box-shadow: 20px 0 0 0 #e9e5dc;
    }
  }
}

.rarity-3 {
  background: linear-gradient(#5D6887, #608EAB, #5484A7);
}

.rarity-4 {
  background: linear-gradient(#605A86, #9476AC, #A67AB9);
}

.rarity-5 {
  background: linear-gradient(#8D5E2E, #B1792C, #B8742B);
}
