.character-page {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  h1 {
    text-align: center;
    font-size: 2rem;
    width: 300px;
    color: white;
    border-bottom: solid 1px grey;
  }
}

.character-stats-count {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  height: 3.1rem;

  span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
  }
}

.character-filters {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 2rem;
}

.logo {
  padding: 1.5rem 0;
  opacity: 0.5;
}

.its-empty {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 516px) {
  .character-page {
    h1 {
      width: 100%;
      margin: 2rem auto 2rem auto;
    }
  }

  .character-stats-count {
    span {
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }
}
