.home {
  height: 100%;
  display: flex;
  flex-flow: column;

  .home-logo {
    opacity: 0.5;
    margin: 3rem auto 0 auto;

    img {
      width: 180px;
      height: auto;
    }
  }

  .home-data-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex: 0.5;
    margin: 0 auto;
    font-size: 1.6rem;
    opacity: 0.8;
    color: rgba(255, 255, 255, 0.4);
    padding: 2rem;

    .home-data-line-2 {
      margin-left: 4.2rem;
    }

    span {
      color: #e9e5dc;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }
}

@media (max-width: 544px) {
  .home {
    .home-logo {
      img {
        width: 110px;
      }
    }

    .home-data-info {
      font-size: 1.2rem;

      span {
        font-size: 1.2rem;
      }
    }
  }
}
