.home {
  padding-top: 2.5rem;
  height: 100%;
  display: flex;
  flex-flow: column;

  .home-logo {
    opacity: 0.5;
    margin: 3rem auto 0 auto;

    img {
      width: 200px;
      height: auto;
    }
  }

  .home-data-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex: 1;
    margin: 0 auto;
    font-size: 2rem;
    opacity: 0.8;
    color:  rgba(255,255,255,0.4);
    padding: 2rem;

    .home-data-line-2 {
      margin-left: 6rem;
    }

    span {
      color:  #e9e5dc;
      font-size: 2.2rem;
      font-weight: 600;
    }
  }
}