@use '../variables.module' as var;

.home {
  height: 100%;
  display: flex;
  flex-flow: column;

  .home-top-charts {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1rem;

    .home-top-chart {
      margin: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 6px;
    }
  }

  .home-logo {
    margin: 0 auto;

    img {
      width: 110px;
      height: auto;
    }
  }

  .home-data-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex: 0.5;
    margin: 0 auto;
    font-size: 1.6rem;
    opacity: 0.8;
    color: rgba(255, 255, 255, 0.4);
    padding: 2rem;

    .home-data-line-2 {
      margin-left: 4.2rem;
    }

    span {
      color: #e9e5dc;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }

  .home-announcement {
    display: flex;
    justify-content: center;
    color: white;
    padding: 3rem;
  }
}

@media (max-width: 826px) {
  .home {
    .home-top-charts {
      flex-flow: column;
    }
  }
}

@media (max-width: 544px) {
  .home {
    .home-logo {
      img {
        width: 110px;
      }
    }

    .home-data-info {
      font-size: 1.2rem;

      span {
        font-size: 1.2rem;
      }
    }
  }
}
