#sidebar {
  position: fixed;
  display: flex;
  flex-flow: column;
  width: 6rem;
  height: 3.5rem;
  background: #2e3142;
  -webkit-box-shadow: 0 4px 6px -6px black;
  -moz-box-shadow: 0 4px 6px -6px black;
  box-shadow: 0 4px 6px -6px black;
  z-index: 99;

  .sidebar-menu {
    position: absolute;
    right: 0;
    line-height: 3.5rem;
    display: flex;
    color: rgba(255, 255, 255, 0.6);

    .sidebar-tab {
      text-align: center;
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      width: auto;
      padding: 0 1rem;
    }
  }
}
