@use '../../variables.module' as var;

.sidebar {
  z-index: 7;
  width: 12rem;
  flex-shrink: 0;

  .sidebar-menu {
    position: fixed;
    height: 100%;
    display: flex;
    flex-flow: column;
    -webkit-box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.5);
    background: var.$theme-color-4;
    color: rgba(255, 255, 255, 0.9);

    .sidebar-menuItem {
      display: flex;
      align-items: center;
      height: 4rem;
      padding: 0.5rem;

      &:hover {
        background-color: #1c2b31;
      }

      &.asActive {
        font-weight: 700;
        border-right: 2px solid var.$theme-color-6;
        background-color: #1c2b31;
      }

      .menuItem-name {
        margin: 0 0.5rem;
        white-space: no-wrap;
      }

      img {
        width: 30px;
        margin-right: 0.3rem;
      }
    }
  }
}

.sidebar-collapsible {
  display: none;
  z-index: 11;
  position: fixed;
  top: 1rem;
  right: 0.7rem;

  &:hover {
    cursor: pointer;
  }

  .sidebar-menu {
    background: var.$theme-color-4;
    position: fixed;
    display: flex;
    flex-flow: column;
    color: rgba(255, 255, 255, 0.6);
    left: 0;
    right: 0;
    top: 4rem;

    .sidebar-menuItem {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      height: 4rem;
      padding: 0.5rem;

      &.asActive {
        border-right: var.$theme-color-6;
        font-weight: 700;
      }

      .menuItem-name {
        margin-left: 0.5rem;
        white-space: no-wrap;
      }

      img {
        width: 30px;
        margin: 0;
      }
    }
  }
}

@media (max-width: 1036px) {
  .sidebar {
    width: 3.5rem;

    .sidebar-menu {
      width: inherit;
    }

    .menuItem-name {
      display: none;
    }
  }
}

@media (max-width: 544px) {
  .sidebar {
    display: none;
  }

  .sidebar-collapsible {
    display: block;
  }
}
