#sidebar {
  display: flex;
  flex-flow: column;
  background: #2e3142;
  width: 12rem;
  -webkit-box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.5);
  z-index: 9;

  .sidebar-menu {
    right: 0;
    line-height: 3.5rem;
    display: flex;
    flex-flow: column;
    color: rgba(255, 255, 255, 0.6);

    .sidebar-tab {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      height: 4.5rem;
      padding: 0.5rem;

      .tab-name {
        margin-left: 1rem;
        white-space: no-wrap;
      }

      img {
        width: 40px;
      }
    }
  }
}

@media (max-width: 1024px) {
  #sidebar {
    width: auto;

    .tab-name {
      display: none;
    }
  }
}

@media (max-width: 516px) {
  #sidebar {
    display: none;
  }
}
