
.artifact-set-search {
  width: 35rem;
  margin: 0 auto;
  padding: 0 0.6rem;
}

.artifact-set-tiles {
  display: flex;
  flex-flow: column;
  padding: 0.5rem;
}

.searched-artifact-sets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 175px;
  margin-right: -1rem;

  .artifact-set-tile {
    margin-right: 1rem;
  }
}

.unfiltered-artifact-sets {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(135px + 1rem));
  grid-auto-rows: 190px;
  justify-content: center;
  margin-top: 2rem;
  margin-right: -1rem;
}

.artifact-set-searchbar {
  margin-top: 1rem;

  input {
    max-width: 35rem;
  }
}


@media (max-width: 516px) {
  .unfiltered-artifact-sets {
    display: none;
  }
}

@media (max-width: 714px) {
  .artifact-set-search{
    width: 100%;
  }

  .unfiltered-artifact-sets {
    grid-template-columns: repeat(auto-fill, calc(100px + 1rem));
    grid-auto-rows: 145px;
  }

  .searched-artifact-sets {
    min-height: 145px;
  }

  .artifact-set-tile-container:not(:last-child) {
    margin-bottom: 1rem;
  }

  .artifact-set-searchbar {
    width: 100%;
    
    input {
      max-width: 100%;
    }
  }
}