.artifact-set-build-card {
  height: 100%;
  display: flex;
  justify-content: center;
  transition: transform 0.2s;

  .artifact-set-thumb {
    position: relative;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    margin: 0.1rem;

    img {
      height: inherit;
    }

    .artifact-set-activation {
      color: white;
      font-size: 1.3rem;
      font-weight: 700;
      position: absolute;
      bottom: 0;
      right: -3px;
      text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
      padding: 0.3rem;
    }

    &:not(:first-child) {
      margin-left: -1rem;
    }
  }

  &.asSelector {
    &:hover,
    &:active {
      cursor: pointer;
      transform: scale(1.03);
      background-color: rgba(223, 229, 220, 0.5);
      border: 3px solid rgba(223, 229, 220, 0.5);
      border-radius: 8px;
    }

    &.asSelected {
      border-bottom: 4px solid white;
      border-radius: 8px;
    }
  }
}

@media (max-width: 826px) {
  .artifact-set-build {
    .artifact-set-thumb {
      .artifact-set-activation {
        font-size: 1rem;
        right: -2px;
      }

      &.asSelector {
        &:hover,
        &:active {
          border: 2px solid rgba(223, 229, 220, 0.5);
        }

        &.selected {
          border: 2px solid #e9e5dc;
        }
      }
    }
  }
}

@media (max-width: 544px) {
  .artifact-set-build {
    .artifact-set-thumb {
      .artifact-set-activation {
        font-size: 0.8rem;
        right: -1px;
      }
    }
  }
}
