@font-face {
  font-family: font;
  src: url(/font.woff2);
}

.filters-container {
  position: sticky;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  position: sticky;
  color: white;
  background-color: #2A2C3A;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.3);
  
  .filters-label {
    padding: 0 1rem;
    text-transform: uppercase;
  }

  .filter-options {
    font-family: font;
    width: 100%;
    color: white;
    display: flex;

    .filter-button {
      padding: 1rem;
      border-radius: 5px;
      margin-right: 0.5rem;

      &:hover {
        cursor: pointer;
      }

      &.asActive {
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  .divider {
    height: 4rem;
  }
}

@media (max-width: 676px) {
  .filters-container {

    .filters-label {
      font-size: 0.9rem;
    }
  
    .filter-button {
      font-size: 0.8rem;
    }
  
    .divider {
      height: 2rem;
    }
  }
}