.items-container {
  max-width: 100%;
  overflow-x: hidden;
}

.item-search {
  width: 35rem;
  margin: 0 auto;
  padding: 0 0.6rem;
}

.item-tiles {
  display: flex;
  flex-flow: column;
  padding: 0.5rem;
}

.searched-items,
.unfiltered-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0.5rem;
}

.item-searchbar {
  margin-top: 1rem;

  input {
    max-width: 35rem;
  }
}

@media (max-width: 516px) {
  .unfiltered-items {
    display: none;
  }
}

@media (max-width: 714px) {
  .item-search {
    width: 100%;
  }

  .searched-items {
    min-height: 145px;
  }

  .item-tile-container:not(:last-child) {
    margin-bottom: 1rem;
  }

  .item-searchbar {
    width: 100%;

    input {
      max-width: 100%;
    }
  }
}
