.items-container {
  max-width: 100%;
  overflow-x: hidden;
}

.item-search {
  width: 35rem;
  margin: 0 auto;
  padding: 0 0.6rem;
}

.item-tiles {
  display: flex;
  flex-flow: column;
}

.searched-items,
.unfiltered-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, 130px);
  gap: 0.3rem;
  justify-content: center;
  flex-wrap: wrap;
}

.item-searchbar {
  margin-top: 1rem;

  input {
    max-width: 35rem;
  }
}

.item-tile-container {
}

.item-tile {
  position: relative;
  background-color: white;
  overflow: hidden;
  transition: transform 0.2s;
  box-sizing: border-box;
  padding: 0;
  width: 130px;
  border-radius: 8px;
  margin: 0.3rem;

  &:hover,
  &:active {
    cursor: pointer;
    -moz-box-shadow: inset 0 0 5px #f2eee6;
    -webkit-box-shadow: inset 0 0 5px #f2eee6;
  }

  a {
    &:hover,
    &:active {
      -webkit-transform: scale(1.08, 1.08);
      transform: scale(1.08, 1.08);
      -moz-box-shadow: inset 0 0 5px #f2eee6;
      -webkit-box-shadow: inset 0 0 5px #f2eee6;
      box-shadow: inset 0 0 5px #f2eee6;
      border: 3px solid #f2eee6;
    }
  }

  .item-thumb {
    vertical-align: middle;
    width: 130px;
  }

  .item-name {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(73, 83, 102);
    background-color: #e9e5dc;
    font-size: 1rem;
    height: 3rem;
    text-align: center;
    text-decoration: none;
  }
}

@media (max-width: 714px) {
  .item-tile-container {
    .item-tile {
      .item-name {
        font-size: 0.9rem;
        line-height: 0.8rem;
        height: 2rem;
      }
    }
  }

  .item-search {
    width: 100%;
  }

  .searched-items {
    min-height: 145px;
  }

  .item-searchbar {
    width: 100%;

    input {
      max-width: 100%;
    }
  }
}

@media (max-width: 544px) {
  .searched-items,
  .unfiltered-items {
    gap: 0.1rem;
  }

  .item-tile-container {
    .item-tile {
      width: 100px;

      .item-thumb {
        width: 100px;
      }

      .item-name {
        font-size: 0.8rem;
        line-height: 0.8rem;
        height: 2rem;
      }
    }
  }
}

@media (max-width: 676px) {
  .item-tile-container {
    .item-tile {
      margin: 0.2rem;

      .item-name {
        font-size: 0.9rem;
        line-height: 0.8rem;
        height: 2rem;
      }
    }
  }
}
