@use '../../variables.module' as var;

.build-charts-container {
  display: flex;
  flex-flow: column;
  padding: 1rem;
  margin: 0 0 2rem 0;
  background-color: var.$theme-color-2;
  border-radius: 10px;

  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    width: 300px;
    color: white;
    border-bottom: solid 1px grey;
  }
}

.artifact-set-builds-selector {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 0.7rem;
  max-width: calc(100vw - 15rem);

  .artifact-set-thumb {
    overflow: hidden;
  }

  .artifact-set-build-card {
    width: 160px;
    height: 80px;
  }
}

.build-charts {
  display: flex;

  .build-weapons,
  .build-characters {
    flex: 3;
    padding-right: 1rem;
  }

  .build-weapon-detail,
  .build-artifact-sets {
    flex: 2;
  }
}

.artifact-set-build-charts {
  .artifact-set-build-detail-container {
    height: 300px;
    margin-bottom: 1rem;
    flex: 1;
  }

  .artifact-set-builds-donut-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;

    .artifact-set-builds-donut-chart {
      z-index: 1;
      max-width: 380px;
      width: 90%;
    }

    .artifact-popularity {
      position: absolute;
      text-align: center;
      z-index: 0;
      bottom: calc(50% - 1.5rem);
      width: 100%;
      color: white;
      font-size: 2.5rem;
      text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    }
  }
}

@media (max-width: 1280px) {
  .artifact-set-builds-selector {
    .artifact-set-builds-menu {
      height: 70px;

      div {
        height: 100%;

        .artifact-set-build-card {
          height: inherit;
          width: 140px;
        }
      }
    }
  }
}

@media (max-width: 1036px) {
  .build-charts {
    flex-flow: column-reverse;

    .build-weapons {
      padding-right: 0;
    }
  }

  .artifact-set-builds-selector {
    max-width: calc(100vw - 6.5rem);

    .artifact-set-builds-menu {
      height: 60px;

      div {
        .artifact-set-build-card {
          height: inherit;
          width: 120px;
        }
      }
    }
  }

  .artifact-set-build-stats-container {
    .artifact-set-build-stats {
      .artifact-set-build-detail {
        min-height: 0;
      }
    }
  }
}

@media (max-width: 826px) {
  .build-charts-container {
    h1 {
      font-size: 1.6rem;
      margin: 1rem auto;
    }
  }

  .artifact-set-builds-selector {
    .artifact-set-builds-menu {
      height: 60px;

      div {
        .artifact-set-build-card {
          height: inherit;
          width: 100px;
        }
      }
    }
  }
}

@media (max-width: 676px) {
  .build-weapons {
    padding-right: 0;
  }
}

@media (max-width: 617px) {
  .artifact-popularity {
    font-size: 2rem;
  }

  .artifact-set-build-stats-container {
    height: 100%;
    max-height: 100%;

    .artifact-set-builds-menu-controls {
      display: block;
    }

    .artifact-set-build-stats {
      margin-right: 0;
    }
  }
}

@media (max-width: 544px) {
  .build-charts-container {
    padding: 1rem 0.5rem;
  }

  .build-charts {
    .build-characters {
      padding-right: 0;
    }
  }

  .artifact-set-build-charts .artifact-set-builds-donut-container .artifact-set-builds-donut-chart {
    width: 75%;
  }

  .artifact-set-builds-selector {
    max-width: calc(100vw - 3rem);
    height: 60px;

    div {
      .artifact-set-build-card {
        width: 90px;
        height: 50px;
      }
    }
  }
}
