.stats-table-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
}

.stats-table {
  border-collapse: collapse;
  width: 70%;
  table-layout: auto;
  color: white;
  margin-top: 1rem;
  position: relative;
  min-width: 15rem;

  tr {
    padding: 0.35em;
    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  th,
  td {
    text-align: center;
    line-height: 3rem;

    &:not(:first-child) {
      border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
  }

  th {
    background-color: rgba(29, 29, 41, 0.788);
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    top: 4rem;
    font-size: 0.8rem;
    position: sticky;
    padding: 0.5rem;
    z-index: 9;
    white-space: nowrap;
  }

  .stats-image {
    width: auto;
    height: 60px;
    display: flex;
    justify-content: center;

    .stats-character-portrait,
    img {
      height: inherit;
      position: relative;
    }

    .stats-character-element {
      position: absolute;
      width: 20px;
      height: auto;
      left: 0;
      top: 0;
    }
  }

  .stats-row-percentage {
    display: flex;

    .stats-row-bar {
      background: black;
      height: 3rem;
      display: inline-block;
      animation-name: horibar;
      animation-duration: 1s;
      animation-direction: forwards;
      border: 1px solid rgba(255, 255, 255, 0.7);
      border-left: none;
      margin-right: 0.5rem;
    }

    @keyframes horibar {
      0% {
        max-width: 0;
      }
      100% {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 747px) {
  .stats-table {
    th {
      font-size: 0.8rem;
    }
  }
}
