@use '../../variables.module' as var;

.stats-table-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  animation: fadein 0.5s;
}

.stats-table {
  margin-top: 1rem;
  width: 65%;
  padding: 1rem 2rem;
  background-color: var.$theme-color-2;

  &.asPreview {
    width: 100%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    color: white;
    min-width: 15rem;
  }

  tr {
    padding: 0.35em;
    &:nth-child(even) {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }

  th,
  td {
    text-align: center;
    line-height: 2.5rem;

    &:not(:first-child) {
      border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
  }

  th {
    background-color: var.$theme-color-6;
    color: black;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    top: 4rem;
    font-size: 0.8rem;
    position: sticky;
    z-index: 8;
    padding: 0.5rem;
    white-space: nowrap;

    .orderToggle {
      margin-left: 0.2rem;
      opacity: 0.3;

      &.asActive {
        opacity: 1;
      }

      &:hover {
        cursor: pointer;
      }

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  .stats-image {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;

    .stats-character-portrait,
    img {
      height: inherit;
      position: relative;
    }

    .stats-character-element {
      position: absolute;
      width: 18px;
      height: auto;
      left: 0;
      top: 0;
    }
  }

  .stats-row-percentage {
    display: flex;

    .stats-row-bar {
      background: black;
      height: 2.5rem;
      display: inline-block;
      animation-name: horibar;
      animation-duration: 1s;
      animation-direction: forwards;
      border: 1px solid rgba(255, 255, 255, 0.7);
      border-left: none;
      margin-right: 0.5rem;
    }

    @keyframes horibar {
      0% {
        max-width: 0;
      }
      100% {
        max-width: 100%;
      }
    }
  }

  thead tr th {
    height: 1rem;
    line-height: 1rem;
  }
}

@media (max-width: 747px) {
  .stats-table {
    width: 90%;

    th {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 544px) {
  .stats-table {
    width: 100%;
    padding: 0.5rem;
  }
}
