.stats-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
  color: white;
  margin-top: 1rem;

  tr {
    padding: .35em;
    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  
  th, td {
    text-align: center;

    &:not(:first-child) {
      border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
  }

  th {
    background-color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    top: 7rem;
    position: sticky;
    padding: 0.5rem;
    z-index: 9;
  }

  .stats-image, .stats-image > div{
    width: auto;
    height: 70px;
    position: relative;

    img {
      height: inherit;
    }

    .stats-character-element {
      height: 20%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  
  .stats-row-percentage {
    display: flex;

    .stats-row-bar {
      background: black;
      height: 3rem;
      display: inline-block;
      animation-name: horibar;
      animation-duration: 1s;
      animation-direction: forwards;
      border: 1px solid rgba(255, 255, 255, 0.7);
      margin-right: 0.5rem;
    }

    @keyframes horibar {
      0% {
        max-width: 0;
      }
      100% {
        max-width: 100%;
      }
    }
  }
}