.usage-pct {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .usage-pct-value {
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    font-size: 4.8vw;
  }

  .usage-pct-count {
    color: rgba(255,255,255,0.8);
    font-size: 1.6vw;
  }

  &.small {
    .usage-pct-value {
      font-size: 2.8vw;
    }
  
    .usage-pct-count {
      font-size: 1.6vw;
    }
  }
}

@media (max-width: 544px) {
  .usage-pct {
    .usage-pct-value {
      text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    }
  }
}

@media (min-width: 700px) {
  .usage-pct {
    .usage-pct-count {
      font-size: 0.8rem;
    }

    .usage-pct-value {
      font-size: 2.2rem;
    }

    &.small {
      .usage-pct-value {
        font-size: 1.2rem;
      }
    
      .usage-pct-count {
        font-size: 0.8rem;
      }
    }
  }
}