$element-pyro: #ee7033;
$element-anemo: #58dbab;
$element-cryo: #a1f9ff;
$element-hydro: #35cbfc;
$element-electro: #d795ff;
$element-dendo: #a5d533;
$element-geo: #f0b738;
$element-none: #4b0082;

$rarity-3: linear-gradient(#5d6887, #608eab, #5484a7);
$rarity-4: linear-gradient(#605a86, #9476ac, #a67ab9);
$rarity-5: linear-gradient(#8d5e2e, #b1792c, #b8742b);
