$element-pyro: #ee7033;
$element-anemo: #58dbab;
$element-cryo: #a1f9ff;
$element-hydro: #35cbfc;
$element-electro: #d795ff;
$element-dendro: #a5d533;
$element-geo: #f0b738;
$element-none: #e9422e;
$none: #a4a4a4;
$rarity-3: linear-gradient(#5d6887, #608eab, #5484a7);
$rarity-4: linear-gradient(#605a86, #9476ac, #a67ab9);
$rarity-5: linear-gradient(#8d5e2e, #b1792c, #b8742b);
$rarity-105: linear-gradient(#a25056, #c75056, #e04a53);

$card: #e9e5dc;

$theme-color-base: #0a1119;
$theme-color-1: rgba(21, 39, 53, 0.5);
$theme-color-2: rgba(24, 36, 45, 0.5);
$theme-color-4: #070d11;
$theme-color-5: #040b11;
$theme-color-6: #0ee6b7;

$weapon-sword: #5144d3;
$weapon-claymore: #6f38b1;
$weapon-catalyst: #da3490;
$weapon-bow: #9089fa;
$weapon-polearm: #2780eb;

$red: #e9422e;
$green: #3cbc8d;
$blue: #2796bc;

:export {
  pyro: $element-pyro;
  anemo: $element-anemo;
  cryo: $element-cryo;
  hydro: $element-hydro;
  electro: $element-electro;
  dendro: $element-dendro;
  none: #a4a4a4;
  geo: $element-geo;
  sword: $weapon-sword;
  claymore: $weapon-claymore;
  catalyst: $weapon-catalyst;
  bow: $weapon-bow;
  polearm: $weapon-polearm;
  red: $red;
  green: $green;
  blue: $blue;
  artifacts: $element-none;
}
