@use 'variables' as var;

.App {
  .App-content {
    display: flex;
    min-height: calc(100vh - 4rem);
    height: 100%;
    margin-top: 4rem;

    .section-view {
      display: flex;
      flex-flow: column;
      padding: 0 2rem;
      margin: 0 auto;
      max-width: 90rem;
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
    }

    main {
      flex: 1;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: white;
}

footer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
}

.build-ver {
  position: fixed;
  bottom: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.2);
}

.links {
  display: flex;
  justify-content: center;
  color: #e9e5dc;
  margin: 1rem;
  font-size: 1.1rem;

  a,
  div {
    cursor: pointer;
    margin: 1rem;
  }

  .notice {
    margin-top: 0.8rem;
  }
}

.character-filter {
  position: absolute;
  top: 7.1rem;
  right: 0;
}

.rc-tooltip-inner div {
  z-index: 9;
}

.lazyload-wrapper {
  height: inherit;
}

.Pyro {
  background-color: var.$element-pyro !important;
}
.Anemo {
  background-color: var.$element-anemo !important;
}
.Cryo {
  background-color: var.$element-cryo !important;
}
.Hydro {
  background-color: var.$element-hydro !important;
}
.Electro {
  background-color: var.$element-electro !important;
}
.Dendro {
  background-color: var.$element-dendro !important;
}
.Geo {
  background-color: var.$element-geo !important;
}
.rarity-3 {
  background: var.$rarity-3;
}
.rarity-4 {
  background: var.$rarity-4;
}
.rarity-5 {
  background: var.$rarity-5;
}
.rarity-105 {
  background: var.$rarity-105;
}

.Characters {
  background-color: rgb(31, 120, 150) !important;
}

.Weapons {
  background-color: rgb(172, 34, 18) !important;
}

.Artifacts {
  background-color: rgb(48, 150, 113) !important;
}

@media (max-width: 1036px) {
  .App {
    .App-content {
      .section-view {
        width: 100%;
        padding: 0 2rem;
      }
    }
  }
}

@media (max-width: 516px) {
  .App {
    .App-content {
      .section-view {
        padding: 0;
      }
    }
  }

  .character-filter {
    width: 100%;
    margin: 0 auto;
  }

  h1 {
    font-size: 1.5rem !important;
  }

  .links {
    font-size: 0.9rem;
  }

  .build-ver {
    font-size: 0.8rem;
  }

  footer {
    font-size: 0.8rem;
  }
}
