@use 'variables.module' as var;

.App {
  margin-top: 4rem;
  background-color: var.$theme-color-base;

  .App-content {
    display: flex;
  }

  main {
    max-width: 90rem;
    min-height: calc(100vh - 4rem);
    height: 100%;
    margin: 2rem auto 0 auto;
    flex: 1;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
}

.build-ver {
  position: fixed;
  bottom: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.2);
}

.links {
  display: flex;
  justify-content: center;
  color: var.$card;
  margin: 1rem;
  font-size: 1.1rem;

  a,
  div {
    cursor: pointer;
    margin: 1rem;
  }

  .notice {
    margin-top: 0.8rem;
  }
}

.scroll-to-top-button {
  position: fixed;
  bottom: 0.5rem;
  right: 0.7rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;

  &.invis {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.character-filter {
  position: absolute;
  top: 7.1rem;
  right: 0;
}

.rc-tooltip-inner div {
  z-index: 9;
}

.lazyload-wrapper {
  height: inherit;
}

.sticky-outer-wrapper {
  position: relative;
  z-index: 9;
}

.Artifacts {
  background-color: var.$element-none !important;
}
.Pyro {
  background-color: var.$element-pyro !important;
}
.Anemo {
  background-color: var.$element-anemo !important;
}
.Cryo {
  background-color: var.$element-cryo !important;
}
.Hydro {
  background-color: var.$element-hydro !important;
}
.Electro {
  background-color: var.$element-electro !important;
}
.Dendro {
  background-color: var.$element-dendro !important;
}
.Geo {
  background-color: var.$element-geo !important;
}
.None {
  background-color: var.$none;
}
.Red {
  background-color: var.$red !important;
}
.Green {
  background-color: var.$green !important;
}
.Blue {
  background-color: var.$blue !important;
}
.Sword {
  background-color: var.$weapon-sword !important;
}
.Claymore {
  background-color: var.$weapon-claymore !important;
}
.Catalyst {
  background-color: var.$weapon-catalyst !important;
}
.Bow {
  background-color: var.$weapon-bow !important;
}
.Polearm {
  background-color: var.$weapon-polearm !important;
}
.rarity-3 {
  background: var.$rarity-3;
}
.rarity-4 {
  background: var.$rarity-4;
}
.rarity-5 {
  background: var.$rarity-5;
}
.rarity-105 {
  background: var.$rarity-105;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1036px) {
  .App {
    .App-content {
      .section-view {
        width: 100%;
        padding: 0 2rem;
      }
    }
  }
}

@media (max-width: 544px) {
  .App {
    .App-content {
      .section-view {
        padding: 0;
      }
    }
  }

  .character-filter {
    width: 100%;
    margin: 0 auto;
  }

  .links {
    font-size: 0.9rem;
  }

  .build-ver {
    font-size: 0.8rem;
  }

  footer {
    font-size: 0.8rem;
  }
}
