@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700');
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  overflow: overlay;
}

body::-webkit-scrollbar,
body::-webkit-scrollbar:horizontal {
  width: 8px;
  height: 8px;
  background: transparent;
}

body::-webkit-scrollbar-track-piece,
body::-webkit-scrollbar-track-piece:horizontal {
  background: none;
}

body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb:horizontal {
  background: rgba(25, 231, 167, 0.7);
  border-radius: 8px;
}
