@font-face {
	font-family: font;
	src: url(./assets/font.ttf);
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #333749;
  font-family: font;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar{
	width: 10px;
  background-color: none;
}

::-webkit-scrollbar-track-piece{
	background-color: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb{
	background-color: rgba(0,0,0,0.3);
	border-radius: 8px;
}