$totalRows: 101;

.barchart-container {
  position: relative;
  display: grid;
  grid-template-rows: repeat($totalRows, 1fr);
  grid-column-gap: 5px;
  bottom: -0.22rem;
  height: 40vh;
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 80rem;

  [class*="_bar"] {
    transition: all .6s ease;
    grid-row-start: 1;
    grid-row-end: $totalRows;
    border: 2px solid white;
    border-bottom: none;
  }

  @mixin chartValue($data) {
    $result: $totalRows - $data;
    grid-row-start: $result;
  }

  @for $i from 1 through $totalRows {
    ._bar-#{$i} {
      @include chartValue($i);
    }
  }
}

.content-container {
  display: grid;
  position: relative;
  top: 0rem;
  grid-column-gap: 5px;
  padding: 0 2rem;
  margin: 0 auto 2rem auto;
  max-width: 80rem;

  .bar-content {
    border: 2px solid white;
    border-top: none;
  }
}

@keyframes vertibar {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 100%;
  }
}

