.cards-container {
  max-width: 100%;
  overflow-x: hidden;
  margin-bottom: 3rem;
}

.card-searchbar {
  width: 35rem;
  margin: 0 auto;
  padding: 0 0.6rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  grid-template-rows: repeat(auto-fill, 170px);
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
  height: 54vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.card-searchbar {
  margin-top: 1rem;
  margin-bottom: 3rem;

  .item-option {
    display: flex;
    align-items: center;

    .item-option-image {
      .item-option-portrait {
        width: 35px;
      }
    }

    .item-option-label {
      margin-left: 0.5rem;
    }
  }

  input {
    max-width: 35rem;
  }
}

.search-select > div > div > div > div > div > .item-option {
  .item-option-label {
    display: none;
  }
}

@media (max-width: 826px) {
  .card-search {
    width: 100%;
  }

  .card-searchbar {
    width: 100%;
    padding: 0 0.5rem;

    input {
      max-width: 100%;
    }
  }

  .cards {
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(auto-fill, 130px);
    height: 43vh;
  }
}

@media (max-width: 544px) {
  .cards {
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(auto-fill, 80px);
    height: 29vh;
  }
}
