@use '../../variables.module' as var;

.card-container {
  width: 110px;
  height: 157px;

  .card {
    position: relative;
    overflow: hidden;
    transition: transform 0.2s;
    box-sizing: border-box;
    padding: 0;

    border-radius: 8px;

    &.faded {
      opacity: 0.4;
    }

    &:hover,
    &:active {
      cursor: pointer;
      -webkit-transform: scale(1.05, 1.05);
      transform: scale(1.05, 1.05);
      border: 2px solid var.$theme-color-6;
    }

    .card-element {
      position: absolute;
      top: 0;
      left: 0;
      width: 37px;
    }

    .card-thumb {
      vertical-align: middle;
      width: 110px;
    }
  }

  .card-name {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var.$card;
    font-size: 0.9rem;
    height: 3rem;
    text-align: center;
    text-decoration: none;
  }
}

@media (max-width: 826px) {
  .card-container {
    width: 90px;
    height: 122px;

    .card {
      .card-element {
        width: 30px;
      }

      .card-thumb {
        width: 90px;
      }
    }

    .card-name {
      font-size: 0.8rem;
      line-height: 0.8rem;
      height: 2rem;
    }
  }
}

@media (max-width: 544px) {
  .card-container {
    height: 84px;
    width: 65px;

    .card {
      border-radius: 6px;

      .card-element {
        width: 25px;
      }

      .card-thumb {
        width: 65px;
      }
    }

    .card-name {
      font-size: 0.6rem;
      line-height: 0.5rem;
      height: 1.2rem;
    }
  }
}

@media (max-width: 414px) {
  .card-container {
    height: 74px;
    width: 55px;

    .card {
      border-radius: 5px;

      .card-element {
        width: 20px;
      }

      .card-thumb {
        width: 55px;
      }
    }

    .card-name {
      font-size: 0.5rem;
      line-height: 0.5rem;
      height: 1.2rem;
    }
  }
}
