@font-face {
  font-family: font;
  src: url(/font.woff2);
}

$r: 19;
$g: 26;
$b: 35;

.dialogue-backdrop {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.dialogue {
  font-family: font;
  position: fixed;
  font-size: 1.6rem;
  text-shadow: none;

  display: flex;
  flex-flow: column;
  -webkit-text-stroke: 1px rgba($r, $g, $b, 0.5);
  -webkit-text-fill-color: #f6f2ee;
}

.response {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  img {
    margin-right: 1rem;
  }

  .response-message {
    position: relative;
    right: -10px;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    max-width: 30rem;
    width: 30%;
    min-width: 11rem;
    padding: 1rem 0 1rem 1.5rem;
    margin: 0.6rem;
    background: linear-gradient(
      to right,
      rgba($r, $g, $b, 0.6),
      rgba($r, $g, $b, 0.4),
      transparent
    );

    border-radius: 30rem 0 0 30rem;
    border-left: 3px solid rgba(255, 195, 0, 0.4);
    border-top: 3px solid rgba(255, 195, 0, 0.3);
    border-bottom: 3px solid rgba(255, 195, 0, 0.3);
    animation: pulse 2s infinite ease-out;
    border-right: none;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    }

    span {
      margin-left: 1.5rem;
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
  }
  50% {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.6);
  }
  100% {
    box-shadow: 0 0 0 0px gba(255, 255, 255, 0.6);
  }
}

.name {
  padding: 0.8rem 0.8rem 0 0.8rem;
  -webkit-text-fill-color: #ffc300;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  span:first-child {
    width: 50%;
    border-bottom: 3px solid rgba(255, 195, 0, 0.4);
  }
}

.content {
  background: linear-gradient(
    to right,
    rgba($r, $g, $b, 0),
    rgba($r, $g, $b, 0.6),
    rgba($r, $g, $b, 0.8),
    rgba($r, $g, $b, 0.6),
    rgba($r, $g, $b, 0)
  );
  height: 100%;
  text-align: center;
  padding: 1rem 0;
}

.text {
  margin: 0 auto;
  max-width: 70%;
}

@media (max-width: 1640px) {
  .dialogue {
    font-size: 1.4rem;
  }
}

@media (max-width: 1167px) {
  .dialogue {
    font-size: 1.2rem;
  }

  .response {
    img {
      width: 25px;
    }

    .response-message {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 887px) {
  .dialogue {
    font-size: 1rem;
  }

  .content {
    .text {
      max-width: 85%;
    }
  }

  .response {
    img {
      width: 20px;
    }

    .response-message {
      padding: 0.5rem 0 0.5rem 1rem;
      font-size: 0.9rem;
    }
  }
}
