.search-select {
  &.sticky {
    position: fixed;
    width: 35rem;
    top: 0.1rem;
    z-index: 19;
  }

  .search-placeholder {
    position: relative;
    display: flex;
    align-items: center;

    .search-icon {
      position: absolute;
      right: 1.2rem;
      opacity: 0.8;
    }
  }

  & > div > div > div > div > div {
    padding: 0;
  }
}

.character-option {
  display: flex;
  white-space: nowrap;
  line-height: 50px;

  .character-option-image {
    width: 50px;
    height: 50px;

    margin-right: 1rem;
    position: relative;

    .character-option-element {
      position: absolute;
      left: -0.2rem;
      top: -0.2rem;
      width: 22px;
      height: 22px;
    }

    .character-option-portrait {
      width: 50px;
      height: 50px;
    }
  }
}

@media (max-width: 676px) {
  .search-select {
    .search-placeholder {
      font-size: 1rem;

      .search-icon svg {
        width: 15px;
      }
    }

    &.sticky {
      width: 70vw;
      left: 5rem;
      right: 5rem;
    }
  }
}
