.horizontal-barchart {
  display: flex;

  .horizontal-barchart-bar {
    flex: 1;
    margin: 0.1rem 0;

    .barchart-bar {
      height: 100%;
      display: inline-block;
      animation-name: horibar;
      animation-duration: 1s;
      animation-direction: forwards;
      border: 2px solid rgba(255, 255, 255, 0.7);
    }

    @keyframes horibar {
      0% {
        max-width: 0;
      }
      100% {
        max-width: 100%;
      }
    }
  }

  .bar-card {
    overflow: hidden;
    background-color: #e9e5dc;
    display: flex;
    border: 2px solid white;
    border-right: 0;
    margin: 0.1rem 0 0.1rem 0;
    padding: 0.3rem;

    .bar-card-title {
      display: flex;
      width: 200px;

      img {
        width: 80px;
        height: 80px;
      }

      .bar-card-detail {
        display: flex;
        margin-left: 0.3rem;
        width: 100%;
        flex-flow: column;
        text-align: center;

        .bar-card-name {
          padding: 0 0.1rem;
          margin-bottom: 0.3rem;
          color: rgb(73, 83, 102);
          font-size: 1rem;
          text-decoration: none;
        }

        .bar-card-popularity {
          height: 100%;
          display: flex;
          flex-flow: column;
          justify-content: center;

          .bar-card-popularity-pct {
            color: white;
            font-size: 1.7rem;
            text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black,
              0 0 2px black;
          }

          .bar-card-popularity-count {
            color: rgba(73, 83, 102, 0.9);
            font-size: 1.1rem;
          }
        }
      }
    }

    .bar-abyss-stats-container {
      display: flex;
      width: 100%;
      justify-content: center;

      .bar-abyss-stats {
        width: 55px;
        margin-top: 0.3rem;
        text-align: center;

        &:first-child {
          margin-right: 0.8rem;
        }
      }

      .bar-abyss-stat-title {
        text-transform: uppercase;
        font-size: 0.6rem;
        color: rgb(73, 83, 102);
        text-align: center;
      }
    }
  }
}

@media (max-width: 676px) {
  .horizontal-barchart-container {
    display: flex;
    flex-flow: column;
    align-items: center;

    .horizontal-barchart {
      width: 100% !important;
      max-width: 100%;
      display: flex;
      justify-content: center;

      & > div {
        width: 100%;
      }
    }

    .bar-card {
      width: 100%;

      .bar-card-title {
        width: 190px;

        .bar-card-detail {
          .bar-card-name {
            font-size: 0.9rem;
          }

          .bar-card-popularity {
            .bar-card-popularity-pct {
              font-size: 1.3rem;
            }
          }
        }
      }

      .bar-abyss-stats-container {
        .bar-abyss-stat-title {
        }

        .bar-abyss-stats {
          width: 55px;
          font-size: 0.9rem;

          &:first-child {
            margin-right: 0.6rem;
          }
        }
      }
    }

    .horizontal-barchart-bar {
      display: none;
    }
  }
}
