.loader {
  margin: 2rem 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;

  .logo {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;

    img {
      grid-row-start: 1;
      grid-column-start: 1;
    }

    .asAnimated {
      animation: spin 3s linear infinite;
    }

    @keyframes spin {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }
}
