@use '../../variables.module' as var;

.tabs-container {
  width: 100%;
  line-height: 3rem;
  display: flex;
  height: 3rem;
  justify-content: center;
  color: #e9e5dc;
  font-size: 1.2rem;
  background-color: var.$theme-color-4;
  border-radius: 6px;

  .tab {
    text-transform: uppercase;
    text-align: center;
    margin: 0 1rem;

    &:hover {
      cursor: pointer;
    }

    &.asActive {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

@media (max-width: 676px) {
  .tabs-container {
    font-size: 0.8rem;

    .tab {
    }
  }
}
