@use '../../variables.module' as var;

.tabs-container {
  width: 100%;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e9e5dc;
  font-size: 1.2rem;
  border-radius: 6px;

  .tab {
    text-transform: uppercase;
    text-align: center;
    margin: 0 1rem;

    &:hover {
      cursor: pointer;
    }

    &.asActive {
      font-weight: 700;
      border-bottom: 2px solid rgba(255, 255, 255, 0.5);
      margin-bottom: -2px;
    }

    img {
      width: 40px;
      height: 40px;
    }
  }
}

@media (max-width: 676px) {
  .tabs-container {
    font-size: 0.8rem;

    .tab {
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
